.new_card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(39, 174, 96, 0.2);
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0 40px 20px 0;
  padding: 0;
  transition: 0.2s;
  height: 235px;
  width: 200px;
}

.new_card:hover {
  cursor: pointer;
  transform: scale(1.02);
}
