.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.button_show {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 18px;
  margin-right: 30px;
  margin-left: auto;
  padding: 0;
  text-decoration: underline;
}

.nav_link {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}

.nav_link:visited {
  color: inherit;
}

.nav_link:first-child::after {
  content: '|';
  margin: 0 5px;
}

.nav_link[data-active-link=true] {
  text-decoration: underline;
}
