
.tag_cloud {
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2;
  list-style: none;
  margin-top: auto;
  padding: 0;
  row-gap: 2px;
  width: 143px;
}

.tag_cloud__item {
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
}
